.profile{
    padding-top: 5%;
     width: 80%;
    margin: 0 auto;
     padding-bottom: 3%;
}
 .card{
   margin-left: 10%;
} 


.all{
 margin: 13%
}

.space-top{
   padding: 200px
 }

 .spinner{
     width: 50px;
     height: 50px;
    margin: 20rem 55rem;
 }

/*  
@media screen and (max-width: 1240px){
  
 }

 @media screen and (max-width: 767px){
   
 }

 @media screen and (max-width: 550px){
   .profile{
       width: 80%;
  }
 } */







